{% extends 'base.html.twig' %}

{% block title %}New Interest{% endblock %}

{% block body %}
    <h1>Create new Interest</h1>

    {{ include('interest/_form.html.twig') }}

    <a href="{{ path('interest_index') }}">back to list</a>
{% endblock %}
